<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoke.apartmentsystem.system.mapper.RoomMapper">
    <sql id="findRoomDetailSql">
        SELECT
        u.room_id roomId,
        u.building_id buildingId,
        u.room_name roomName,
        u.room_status status,
        u.room_type roomType,
        u.room_area roomArea,
        u.room_price roomPrice,
        u.pay_way payWay,
        u.room_orther roomOther,
        u.room_pic roomPic,
        u.map_pic mapPic,
        u.contract_id contractId,
        u.room_msg roomMsg,
        u.remark remark,
        u.create_by createBy,
        u.create_time createTime,
        u.update_by updateBy,
        u.update_time updateTime,
        u.del_flag
        FROM
        t_room u
        WHERE 1 = 1
        <if test="room.roomId != null and room.roomId != ''">
            AND u.room_id = #{room.roomId}
        </if>
        <if test="room.roomName != null and room.roomName != ''">
            AND u.room_name = #{room.roomName}
        </if>
        <if test="room.status != null and room.status != ''">
            AND u.room_status = #{room.status}
        </if>
        <if test="room.roomType != null and room.roomType != ''">
            AND u.room_type = #{room.roomType}
        </if>
        <if test="room.createTime != null and room.createTime != ''">
            AND u.create_time = #{room.createTime}
        </if>
        group by u.room_name
    </sql>
    <select id="findRoomDetailPage" parameterType="room" resultType="room">
        <include refid="findRoomDetailSql"/>
    </select>

    <select id="findRoomDetail" parameterType="room" resultType="room">
        <include refid="findRoomDetailSql"/>
    </select>

    <select id="findByRoomName" parameterType="string" resultType="room">
        SELECT
        u.room_id roomId,
        u.building_id buildingId,
        u.room_name roomName,
        u.room_status status,
        u.room_type roomType,
        u.room_area roomArea,
        u.room_price roomPrice,
        u.pay_way payWay,
        u.room_orther roomOther,
        u.room_pic roomPic,
        u.map_pic mapPic,
        u.contract_id contractId,
        u.room_msg roomMsg,
        u.remark remark,
        u.create_by createBy,
        u.create_time createTime,
        u.update_by updateBy,
        u.update_time updateTime,
        u.del_flag
        FROM
        t_room u
        WHERE  u.village_name = #{villageName}
        group by u.village_name
    </select>
</mapper>
