<style>
    #device-add {
        padding: 20px 25px 25px 0;
    }
    #device-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="device-add">
    <form class="layui-form" action="" lay-filter="device-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备ID：</label>
            <div class="layui-input-block">
                <input type="text" name="deviceId" minlength="2" maxlength="10" lay-verify="range|deviceId"
                       autocomplete="off" class="layui-input" disabled="disabled" placeholder="提交时自动生成">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">设备名称：</label>
            <div class="layui-input-block">
                <input type="text" name="deviceName" minlength="2" maxlength="20" lay-verify="range|deviceName"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属小区：</label>
            <div class="layui-input-block">
                <select name="villageId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="user-add-village"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属楼栋：</label>
            <div class="layui-input-block">
                <select name="buildingId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="user-add-building"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属单元：</label>
            <div class="layui-input-block">
                <select name="unitId"
                        lay-verify="required"
                        xm-select-direction="down"
                        xm-select="user-add-unit"
                        xm-select-skin="default">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设备类型：</label>
            <div class="layui-input-block">
                <select name="deviceType">
                    <option value="">请选择</option>
                    <option value="0">水表</option>
                    <option value="1">电表</option>
                    <option value="2">烟感</option>
                    <option value="3">智能锁</option>
                    <option value="4">其它</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="device-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>
<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            formSelectsb = layui.formSelects,
            formSelectsu = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#device-add'),
            validate = layui.validate;

        // form.verify(validate);
        form.render();

        formSelects.render();

        // treeSelect.render({
        //     elem: $view.find('#user-add-building'),
        //     type: 'get',
        //     data: ctx + 'building/select/tree',
        //     placeholder: '请选择',
        //     search: false
        // });

        formSelectsu.config('user-add-unit', {
            searchUrl: ctx + 'unit/units',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].unitName,
                        value: data[i].unitId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取单元列表失败');
            }
        });

        formSelectsb.config('user-add-building', {
            searchUrl: ctx + 'building/buildings',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].buildingName,
                        value: data[i].buildingId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取楼栋列表失败');
            }
        });

        formSelects.config('user-add-village', {
            searchUrl: ctx + 'village/villages',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].villageName,
                        value: data[i].villageId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                console.error(err);
                febs.alert.error('获取小区列表失败');
            }
        });

        form.on('submit(device-add-form-submit)', function (data) {
            febs.post(ctx + 'device', data.field, function () {
                layer.closeAll();
                febs.alert.success('新增设备成功');
                $('#febs-device').find('#query').click();
            });
            return false;
        });
    });
</script>