<style>
    #building-add {
        padding: 20px 25px 25px 0;
    }
    #building-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="building-add">
    <form class="layui-form" action="" lay-filter="building-add-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">楼栋编号：</label>
            <div class="layui-input-block">
                <input type="text" name="buildingId" minlength="2" maxlength="10" lay-verify="range|buildingId"
                       autocomplete="off" class="layui-input" disabled="disabled" placeholder="提交时自动生成">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">所属小区：</label>
            <div class="layui-input-block">
<!--                <select name="villageId"-->
<!--                        lay-verify="required"-->
<!--                        xm-select-direction="down"-->
<!--                        xm-select="user-add-village"-->
<!--                        xm-select-skin="default">-->
<!--                </select>-->
                <select name="villageId">
                    <option value="">请选择</option>
                    <option th:each="result : ${villageList}" th:value="${result.villageId}" th:text="${result.villageName}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">楼栋名称：</label>
            <div class="layui-input-block">
                <input type="text" name="buildingName" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单元数量：</label>
            <div class="layui-input-block">
                <input type="text" name="buildingNum" maxlength="50" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系人：</label>
            <div class="layui-input-block">
                <input type="text" name="contactor" minlength="2" maxlength="15"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系方式：</label>
            <div class="layui-input-block">
                <input type="text" name="contactWay" minlength="2" maxlength="11"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="building-add-form-submit" id="submit"></button>
            <button type="reset" class="layui-btn" id="reset"></button>
        </div>
    </form>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            $view = $('#building-add'),
            validate = layui.validate;

        // form.verify(validate);
        form.render();

        formSelects.render();

        treeSelect.render({
        });

        // formSelects.config('user-add-village', {
        //     searchUrl: ctx + 'village/villages',
        //     response: {
        //         statusCode: 200
        //     },
        //     beforeSuccess: function (id, url, searchVal, result) {
        //         var data = result.data;
        //         var tranData = [];
        //         for (var i = 0; i < data.length; i++) {
        //             tranData.push({
        //                 name: data[i].villageName,
        //                 value: data[i].villageId
        //             })
        //         }
        //         result.data = tranData;
        //         return result;
        //     },
        //     error: function (id, url, searchVal, err) {
        //         console.error(err);
        //         febs.alert.error('获取小区列表失败');
        //     }
        // });

        form.on('submit(building-add-form-submit)', function (data) {
            febs.post(ctx + 'building', data.field, function () {
                //layer.closeAll();
                febs.alert.success('新增楼栋成功');
                $('#febs-building').find('#query').click();
            });
            return false;
        });
    });
</script>