<style>
    #contract-add {
        padding: 20px 25px 25px 0;
    }

    #contract-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="contract-add">
    <form class="layui-form" action="" lay-filter="contract-add-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label">合同id：</label>
            <div class="layui-input-block">
                <input type="text" name="id">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同编号：</label>
            <div class="layui-input-block">
                <input type="text" name="contractId" class="layui-input" placeholder="提交时自动生成" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">租户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="tenantName" class="layui-input" lay-verify="range|username" minlength="1" maxlength="15">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">乙方证件类型：</label>
            <div class="layui-input-block">
                <select name="credentialsType" lay-verify="required">
                    <option value="" selected="">请选择</option>
                    <option value="0">居民身份证</option>
                    <option value="1">护照</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">乙方证件号码：</label>
            <div class="layui-input-block">
                <input type="text" name="credentialsCode" class="layui-input" lay-verify="required|range|number" minlength="18" maxlength="18">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">乙方联系方式：</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" class="layui-input" lay-verify="phone" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">合同周期(月)：</label>
            <div class="layui-input-block">
                <input type="text" name="contractCycle" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label febs-form-item-require">起效日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="effectiveTime" id="febs-form-group-date"
                       placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">租金：</label>
            <div class="layui-input-block">
                <input type="text" name="tenantPrice" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付周期(月)：</label>
            <div class="layui-input-block">
                <input type="text" name="payTime" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">状态：</label>
            <div class="layui-input-block">
                <select name="contractStatus" lay-verify="required">
                    <option value="" selected="">请选择</option>
                    <option value="0">有效</option>
                    <option value="1">实现</option>
                    <option value="2">到期</option>
                    <option value="3">待审核</option>
                    <option value="4">驳回</option>
                    <option value="5">退租中</option>
                    <option value="6">退租</option>
                    <option value="7">未付款</option>
                    <option value="8">续租</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方证件类型：</label>
            <div class="layui-input-block">
                <select name="hostCredentialsType">
                    <option value="" selected="">请选择</option>
                    <option value="0">居民身份证</option>
                    <option value="1">护照</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方证件号码：</label>
            <div class="layui-input-block">
                <input type="text" name="hostCredentialsCode" class="layui-input" lay-verify="required|range|number" minlength="18" maxlength="18">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方联系方式：</label>
            <div class="layui-input-block">
                <input type="text" name="hostPhone" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公寓地址：</label>
            <div class="layui-input-block">
                <input type="text" name="villageAddress" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋面积：</label>
            <div class="layui-input-block">
                <input type="text" name="area" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同内容：</label>
            <div class="layui-input-block">
                <input type="text" name="contractContent" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附件：</label>
            <div class="layui-input-block">
                <input type="file" name="adjunct">
            </div>
        </div>
        <div class="layui-form-item  layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="contract-add-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'laydate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            laydate = layui.laydate,
            form = layui.form,
            validate = layui.validate;

        form.verify(validate);
        form.render();

        laydate.render({
            elem: '#febs-form-group-date',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime'
        });

        initContractValue();

        formSelects.render();

        function initContractValue() {
            $('input[name="effectiveTime"]').val(getCurrentTimeString());
        }

        function getCurrentTimeString() {
            var now = new Date();
            var fullYear = now.getFullYear();
            var month = now.getMonth() + 1;
            var day = now.getDay() + 1;
            var hour = now.getHours();
            var minute = now.getMinutes();
            var second = now.getSeconds();

            return fullYear + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second;
        }

        form.on('submit(contract-add-form-submit)', function (data) {
            febs.post(ctx + 'contract/add', data.field, function () {
                layer.closeAll();
                febs.alert.success('新建合同成功！');
                $('#febs-contract').find('#reset').click();
            });
            return false;
        });
    });
</script>