<style>
    #contract-edit {
        padding: 20px 25px 25px 0;
    }

    #contract-edit .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="contract-edit">
    <form class="layui-form" action="" lay-filter="contract-edit-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">合同id：</label>
            <div class="layui-input-block">
                <input type="text" name="id" data-th-value="${contract.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">合同编号：</label>
            <div class="layui-input-block">
                <input type="text" name="contractId" data-th-value="${contract.contractId}" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">租户姓名：</label>
            <div class="layui-input-block">
                <input type="text" name="tenantName" data-th-value="${contract.tenantName}" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">乙方证件类型：</label>
            <div class="layui-input-block">
                <select name="credentialsType" lay-verify="required">
                    <option value="" selected="">请选择</option>
                    <option value="0">居民身份证</option>
                    <option value="1">护照</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">乙方证件号码：</label>
            <div class="layui-input-block">
                <input type="text" name="credentialsCode" data-th-value="${contract.credentialsCode}" class="layui-input" lay-verify="required|range|number" minlength="18" maxlength="18">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">乙方联系方式：</label>
            <div class="layui-input-block">
                <input type="tel" name="phone" data-th-value="${contract.phone}" class="layui-input" lay-verify="phone" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">合同周期(月)：</label>
            <div class="layui-input-block">
                <input type="text" name="contractCycle" data-th-value="${contract.contractCycle}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label febs-form-item-require">起效日期：</label>
            <div class="layui-input-inline">
                <input type="text" name="effectiveTime" id="febs-form-group-date"
                       placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">租金：</label>
            <div class="layui-input-block">
                <input type="text" name="tenantPrice" data-th-value="${contract.tenantPrice}" class="layui-input" lay-verify="required|number">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付周期(月)：</label>
            <div class="layui-input-block">
                <input type="text" name="payTime" data-th-value="${contract.payTime}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">状态：</label>
            <div class="layui-input-block">
                <select name="contractStatus" lay-verify="required">
                    <option value="" selected="">请选择</option>
                    <option value="0">有效</option>
                    <option value="1">实现</option>
                    <option value="2">到期</option>
                    <option value="3">待审核</option>
                    <option value="4">驳回</option>
                    <option value="5">退租中</option>
                    <option value="6">退租</option>
                    <option value="7">未付款</option>
                    <option value="8">续租</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方证件类型：</label>
            <div class="layui-input-block">
                <select name="hostCredentialsType">
                    <option value="" selected="">请选择</option>
                    <option value="0">居民身份证</option>
                    <option value="1">护照</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方证件号码：</label>
            <div class="layui-input-block">
                <input type="text" name="hostCredentialsCode" data-th-value="${contract.hostCredentialsCode}" class="layui-input" lay-verify="required|range|number" minlength="18" maxlength="18">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">甲方联系方式：</label>
            <div class="layui-input-block">
                <input type="text" name="hostPhone" data-th-value="${contract.hostPhone}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">公寓地址：</label>
            <div class="layui-input-block">
                <input type="text" name="villageAddress" data-th-value="${contract.villageAddress}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房屋面积：</label>
            <div class="layui-input-block">
                <input type="text" name="area" data-th-value="${contract.area}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">合同内容：</label>
            <div class="layui-input-block">
                <input type="text" name="contractContent" data-th-value="${contract.contractContent}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附件：</label>
            <div class="layui-input-block">
                <input type="file" name="adjunct" data-th-value="${contract.adjunct}">
            </div>
        </div>
        <div class="layui-form-item  layui-form-text">
            <label class="layui-form-label">备注：</label>
            <div class="layui-input-block">
                <textarea name="remark" maxlength="100" class="layui-textarea" data-th-value="${contract.remark}"></textarea>
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="contract-edit-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'laydate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            laydate = layui.laydate,
            form = layui.form,
            contract = [[${contract}]],
            $view = $('#contract-edit'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        laydate.render({
            elem: '#febs-form-group-date',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime'
        });

        initContractValue();

        formSelects.render();

        function initContractValue() {
            form.val("contract-edit-form", {
                "contractId": contract.contractId,
                "tenantName": contract.tenantName,
                "credentialsType": contract.credentialsType,
                "credentialsCode": contract.credentialsCode,
                "phone": contract.phone,
                "contractCycle": contract.contractCycle,
                "effectiveTime": [[${effectiveTime}]],
                "tenantPrice": contract.tenantPrice,
                "payTime": contract.payTime,
                "contractStatus": contract.contractStatus,
                "remark": contract.remark,
                "hostCredentialsType": contract.hostCredentialsType,
                "hostCredentialsCode": contract.hostCredentialsCode,
                "hostPhone": contract.hostPhone,
                "villageAddress": contract.villageAddress,
                "area": contract.area,
                "contractContent": contract.contractContent,
                "adjunct": contract.adjunct
            });
        }

        form.on('submit(contract-edit-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, contract)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'contract/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('合同数据修改成功！');
                $('#febs-contract').find('#reset').click();
            });
            return false;
        });
    });
</script>