<style>
    #template-content {
        padding: 20px 25px 25px 0;
    }

    #template-content .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="template-content">
    <form class="layui-form" action="" lay-filter="template-content-form">
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="template-content-form-submit" id="submit"></button>
        </div>
    </form>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'laydate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            laydate = layui.laydate,
            form = layui.form,
            templateContent = [[${templateContent}]],
            $view = $('#template-content'),
            $searchForm = $view.find('form'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        laydate.render({
            elem: '#febs-form-group-date',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime'
        });

        initTemplateForm();
        initTemplateValue();

        formSelects.render();

        function initTemplateForm() {
            for (var content in templateContent) {
                var component =
                    "<div class='layui-form-item'>"
                        + "<label class='layui-form-label febs-form-item-require'>"+ content.contentKey +"</label>"
                        + "<div class='layui-input-block'>"
                            + "<input type='text' name='"+ content.id +"' data-th-value='${" + content.contentValue +"}' class='layui-input' readonly>"
                        +"</div>"
                 + "</div>";

                $searchForm.appendItem(component);
            }
        }

        function initTemplateValue() {
            form.val("template-content-form", {

            });
        }

        form.on('submit(template-content-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, templateContent)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'templateContent/update', data.field, function () {
                layer.closeAll();
                febs.alert.success('模板内容数据修改成功！');
            });
            return false;
        });
    });
</script>