<style>
    #template-add {
        padding: 20px 50px 25px 10px;
    }

    #template-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #importTemplate, #inputContent, #defineRequiredOptions, #submit {
        width: 100%;
        margin: 20px;
    }
</style>
<div class="layui-fluid" id="template-add">
    <div class="layui-form">
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label">上级模板编号：</label>
            <div class="layui-input-block">
                <input type="text" name="parentTemplate" id="parentTemplate" data-th-value="${parentTemplate}">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="importTemplate" >导入范文/导入上级模板</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="inputContent" >填写固定内容</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="defineRequiredOptions" >定义下级必填项</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="submit">提交</button>
        </div>
    </div>
</div>
<script data-th-inline="none" type="text/javascript">
    layui.use(['dropdown', 'jquery', 'laydate', 'form', 'table', 'febs', 'treeSelect'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            $import = $("#importTemplate"),
            $input = $('#inputContent'),
            $defineRequired = $('#defineRequiredOptions'),
            $submit = $('#submit');

        var tmpId = $('#parentTemplate').val();

        $import.on('click', function () {
            febs.modal.view('选择上级模板', 'system/contract/template/select', {
                area: $(window).width() <= 750 ? '95%' : '800px'
            });
        });

        $input.on('click', function () {
            tmpId = $('#parentTemplate').val();
            if (tmpId === null || tmpId === '') {
                febs.alert.warn("请先导入范文/导入上级模板！");
            } else {
                febs.modal.open('填写内容', 'system/contract/template/content/' + tmpId, {
                    area: $(window).width() <= 750 ? '90%' : '50%',
                    btn: ['提交', '取消'],
                    yes: function (index, layero) {
                        $('#template-content').find('#submit').trigger('click');
                    },
                    btn2: function () {
                        layer.close(layer.index);
                    }
                });
            }
        });

        $defineRequired.on('click', function () {
            tmpId = $('#parentTemplate').val();
            if (tmpId === null || tmpId === '') {
                febs.alert.warn("请先导入范文/导入上级模板！");
            } else {

            }
        });

        $submit.on('click', function () {
            tmpId = $('#parentTemplate').val();
            if (tmpId === null || tmpId === '') {
                febs.alert.warn("请先导入范文/导入上级模板！");
            } else {

            }
        })

    });
</script>