<style>
    #template-content {
        padding: 20px 25px 25px 0;
    }

    #template-content .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="template-content">
    <form class="layui-form" action="" lay-filter="template-content-form" id="template-content-form">
        <div class="layui-form-item" id="submitButton">
            <div class="layui-form-item">
<!--                <button class="layui-btn" lay-submit="" lay-filter="template-content-form-submit" id="submit"></button>-->
                <button class="layui-btn" id="submit"></button>
            </div>
        </div>
    </form>
</div>
<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect', 'laydate'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            laydate = layui.laydate,
            form = layui.form,
            contentList = [[${contentList}]],
            $view = $('#template-content'),
            $searchForm = $view.find('form'),
            validate = layui.validate;

        form.verify(validate);
        form.render();

        laydate.render({
            elem: '#febs-form-group-date',
            format: 'yyyy-MM-dd HH:mm:ss',
            type: 'datetime'
        });

        initTemplateForm();
        initTemplateValue();

        formSelects.render();

        function initTemplateForm() {
            var templateContentForm = document.getElementById("template-content-form");

            for (var i=0; i < contentList.length; i++) {
                var divCpn = document.createElement("div");
                divCpn.setAttribute('class', 'layui-form-item');

                var labelCpn = document.createElement("label");
                labelCpn.setAttribute('class', 'layui-form-label');
                labelCpn.innerHTML = contentList[i].contentKey;

                var innerDivCpn = document.createElement("div");
                innerDivCpn.setAttribute('class', 'layui-input-block');

                var inputCpn = document.createElement("input");
                inputCpn.setAttribute('type', 'text');
                inputCpn.setAttribute('name', contentList[i].id);
                inputCpn.setAttribute('data-th-value', contentList[i].contentValue);
                inputCpn.setAttribute('class', 'layui-input');

                innerDivCpn.appendChild(inputCpn);

                divCpn.appendChild(labelCpn);
                divCpn.appendChild(innerDivCpn);

                templateContentForm.appendChild(divCpn);
            }
        }

        function initTemplateValue() {
            var initParam = {};
            for (var i = 0; i < contentList.length; i++) {
                initParam[i+1] = contentList[i].contentValue;
            }

            form.val("template-content-form", initParam);
        }

        form.on('submit(template-content-form-submit)', function () {
            var newContentList = contentList;
            for (var i = 1; i <= newContentList.length; i++) {
                newContentList[i - 1].contentValue = $('input[name='+ i +']').val();
            }
            console.log(contentList);

            febs.post(ctx + 'contract/templateContent/update', contentList, function () {
                layer.closeAll();
                febs.alert.success('模板内容数据修改成功！');
            });
            return false;
        });

        $('#submit').on('click', function () {
            var newContentList = contentList;
            for (var i = 1; i <= newContentList.length; i++) {
                newContentList[i - 1].contentValue = $('input[name='+ i +']').val();
            }
            console.log(contentList);

            $.post(ctx + 'contract/templateContent/update', contentList, function () {
                layer.closeAll();
                febs.alert.success('模板内容数据修改成功！');
            });
        })
    })
</script>