<style>
    #template-add {
        padding: 20px 50px 25px 10px;
    }

    #template-add .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
    #importTemplate, #inputContent, #defineRequiredOptions, #submit {
        width: 100%;
        margin: 20px;
    }
</style>
<div class="layui-fluid" id="template-add">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <button class="layui-btn" id="importTemplate" >导入范文/导入上级模板</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="inputContent" >填写固定内容</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="defineRequiredOptions" >定义下级必填项</button>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" id="submit">提交</button>
        </div>
    </form>
</div>